@model CustomerOrdersViewModel

@{
    ViewData["Title"] = "Project 1 - Store App";
}

<div class="text-center">
    <h1 class="display-4">
        Orders placed by @Html.DisplayFor(modelItem => Model.Customer.Name)
    </h1>
</div>

@if (Model.Orders.Any())
{
    var anOrder = Model.Orders.First();
    var aLocation = new LocationModel(Model.Orders.First().Location);
<table class="table">
    <caption>List of order placed by given customer</caption>
    <thead>
        <tr>
            <th scope="col">
                Order @Html.DisplayNameFor(model => anOrder.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => anOrder.Placed)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => aLocation.Name)
            </th>
            @*<th scope="col">
                @Html.DisplayName(CustomerModel.Id)
            </th>*@
            @foreach (ItemModel item in Model.Items)
            {
                <th scope="col">@item.Name</th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var order in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(model => order.Id)
            </td>
            <td>
                @Html.DisplayFor(model => order.Placed)
            </td>
            <td>
                @Html.DisplayFor(model => order.Location.Name)
            </td>
            @*<td>
                @Html.DisplayName(customerM.Id)
            </td>*@
            @foreach (ItemModel item in Model.Items)
            {
                <td>@(order.ItemCounts.ContainsKey(item.Id) ? order.ItemCounts[item.Id] : 0)</td>
            }
        </tr>
}
    </tbody>
</table>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}