@model LocationOrdersViewModel

@{
    ViewData["Title"] = "Project 1 - Store App";
}

<div class="text-center">
    <h1 class="display-4">
        Orders placed at @Html.DisplayFor(modelItem => Model.Location.Name)
    </h1>
</div>

@if (Model.Orders.Any())
{
    var anOrder = Model.Orders.First();
    var aCustomer = new CustomerModel(Model.Orders.First().Customer);
<table class="table">
    <caption>List of orders placed at the given location</caption>
    <thead>
        <tr>
            <th scope="col">
                Order @Html.DisplayNameFor(model => anOrder.Id)
            </th>
            <th scope="col">
                Date
            </th>
            <th scope="col">
                Time
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => aCustomer.Name)
            </th>
            @foreach (var item in Model.Items)
            {
                <th scope="col">@item.Name</th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var order in Model.Orders) {
        <tr>
            <td>
                @Html.DisplayFor(model => order.Id)
            </td>
            <td>
                @order.Placed.Date
            </td>
            <td>
                @order.Placed.ToUniversalTime()
            </td>
            <td>
                @Html.DisplayFor(model => order.Customer.Name)
            </td>
            @foreach (var item in Model.Items)
            {
                <td>@(order.ItemCounts.ContainsKey(item.Id) ? order.ItemCounts[item.Id] : 0)</td>
            }
        </tr>
}
    </tbody>
</table>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
